<div class="nested-fields">
   <div class="field">
         <%= f.text_field :nome %>
         <%= f.text_field :dosagem %>
         <%= f.text_field :intervalo_tempo %>
         <%= link_to_remove_association("Remover", f) %>
   </div>
</div>
