<div class="nested-fields">
   <div class="field">
         <%= f.text_field :descricao, placeholder: "Digite a necessidade" %>
         <%= link_to_remove_association("Remover", f) %>
   </div>
</div>
