<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Novo fornecedor</h2>
  </div>
</header>
<ul class='breadcrumb'>
  <div class='container-fluid'>
    <li class='breadcrumb-item'>
      <%= link_to 'Início', root_path %>
    </li>
    <li class='breadcrumb-item'>
      <%= link_to 'Forncedores', fornecedors_path %>
    </li>
    <li class='breadcrumb-item active'>
      Novo
    </li>
  </div>
</ul>
<section class="forms">
  <div class="container-fluid">
    <div class="bg-white has-shadow">
      <%= render 'form', fornecedor: @fornecedor %>
    </div>
  </div>
</section>