<header class='header'>
  <nav class='navbar'>
    <div class='container-fluid'>
      <div class='navbar-holder d-flex align-items-center justify-content-between'>
        <!-- Navbar Header-->
        <div class='navbar-header'>
          <!-- Navbar Brand -->
          <%= link_to root_path, class: 'navbar-brand' do %>
            <div class='brand-text brand-big hidden-lg-down'>
              <strong>Apaefy</strong>
            </div>
            <div class='brand-text brand-small'>
              <strong>Apaefy</strong>
            </div>
          <% end %>
          <!-- Toggle Button-->
          <a id='toggle-btn' href='#' class='menu-btn active'>
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <!-- Navbar Menu -->
        <ul class='nav-menu list-unstyled d-flex flex-md-row align-items-md-center'>
          <!-- Logout    -->
          <li class='nav-item'>
            <a href="manual-lvvglzchdr.now.sh" target="_blank">Manual</a>
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <%= icon('sign-out') %> Logout
            <% end %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
