<div class="content-inner">
  <!-- Page Header-->
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Cadastro de Funcionário</h2>
    </div>
  </header>
  <!-- Breadcrumb-->
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item">
        <a href="index.html">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Cadastro de Funcionário</li>
    </div>
  </ul>
  <!-- Cadastro de Funcionario -->
  <section class="forms dashboard-counts">
    <div class="container-fluid">
      <div class="row bg-white has-shadow">