<%= render 'temp' %>
                        

<%= render 'form', funcionario: @funcionario %>
<%= link_to 'Voltar', funcionarios_path, class: "btn btn-secondary" %>
</div>
</div>
</div>
</div>
</section>

